.product{
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   width:90%;
   margin:auto;
   padding-bottom: 100px;
}
.img-product{
   width:100%;
   height:100px;
   object-fit: contain;
   margin-top: 25px;
}
.card-product{
   display: flex;
   width:250px;
   height:100%;
   justify-content: center;
   margin:26px;
}
.bottom{
   display: flex;
   width:100%;
   height:70px;
   border-top: 2px solid rgb(230, 228, 228);
   
}
.total{
   display: flex;
   width:50%;
   margin: auto;
   justify-content: space-between;
   align-items: center;
}
.total p{
   margin-bottom: 0;
}
.CheckOut{
   width:70%;
   background-color:aqua;
   margin:auto;
}
.checkOutItem{
   display:flex;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
.cardProductCheckout{
   display:flex;
   width:100%;
   background-color: salmon;
   height:100px;
}
.img-Checkout{
   width:100px;
   height:100px;
}
.productSummary{
   background-color:aqua;
   width:50%;
}