.product{
   flex-wrap: wrap;
   padding-bottom: 100px;
}
.img-product{
   width:100%;
   height:100px;
   object-fit: contain;
   margin-top: 25px;
}
.card-product{
   width:240px;
   height:100%;
}
.bottom{
   display: flex;
   width:100%;
   height:70px;
   border-top: 2px solid rgb(230, 228, 228);
   
}
.total{
   display: flex;
   width:50%;
   margin: auto;
   justify-content: space-between;
   align-items: center;
}
.total p{
   margin-bottom: 0;
}
@media (max-width:576px){
   .card-product{
      width:80%;
   }
   .total{
      width:85%;
   }
}
.CheckOut{
   margin-bottom: 100px;
   border-radius:10px;
}
.checkOutTitle{
   margin-left: 30px;
   margin-top: 20px;
}
.CheckOutItem{
   height: 200px;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
.img-Checkout{
   width:200px;
   height:200px; 
   object-fit:contain;
}
.logo{
   color:royalblue;
}
.buttonText{
   color: white;
}